<nav id="lsm_e1f08971" hidden>
  <section class="lsm_header">
    {% avatar gohu03 size=150 %}
    <h1 class="lsm_title">GOHU</h1>
    <div class="icon_close" id="lsm_307f2d68"></div>
  </section>
  <ul class="lsm_items">
    <li class="lsm_item-container">
      <div class="lsm_item-wrapper">
        <a class="lsm_item" href="/">HOME</a>
      </div>
    </li>
    {% include layout/sidemenu/study.items.html categories=site.data.categories %}
  </ul>
</nav>
<script src="/assets/js/site/site.js" type="module"></script>