<button class="l_btn" id="lsm_faca0a10">
  <object data="/assets/icons/menu.svg" type="image/svg+xml" class="li_filled"></object>
</button>
<nav id="lsm_e1f08971" class="hidden">
  <section class="lsm_info">
    {% avatar gohu03 size=150 %}
    <h1 class="lsm_title">GOHU</h1>
  </section>
  <ul class="lsm_menu">
    <li><a class="lsm_menu-item" href="/">HOME</a></li>
    {% include layout/sidemenu/study.items.html categories=site.data.categories %}
  </ul>
</nav>
<div id="lsm_ad2ee9cb" class="hidden"></div>
<script src="/assets/js/site/site.js" type="module"></script>