{% for category in include.categories %}
  <li class="lsm_item-container">
    <div class="lsm_item-wrapper">
      {% if category.link %}
      <a class="lsm_item" href="/study/{{ category.link }}">{{ category.name }}</a>
      {% else %}
      <div class="lsm_item">{{ category.name }}</div>
      {% endif %}
      {% if category.subcategories %}
      <div class="lsm_sub-toggle"></div>
    </div>
    <ul class="lsm_subcategories">
      {% include layout/sidemenu/study.items.html categories=category.subcategories %}
    </ul>
    {% else %}
    </div>
    {% endif %}
  </li>
{% endfor %}