{% for category in include.categories %}
  <li class="lsm_item-container">
    <div class="lsm_item-wrapper">
      {% if category.link %}
      <a class="lsm_item" href="/{{ category.link }}">
        {{ category.name }}
      </a>
      {% else %}
      <div class="lsm_item">
        {{ category.name }}
      </div>
      {% endif %}
      {% if category.sub %}
      <div class="lsm_sub-toggle"></div>
    </div>
    <ul class="lsm_subcategories">
      {% include layout/sidemenu/study.items.html categories=category.sub %}
    </ul>
    {% else %}
    </div>
    {% endif %}
  </li>
{% endfor %}