---
---
@use "layout/toc";
@media (min-width: 800px){
  .lp_section {
    width: 800px;
    background-color: var(--lp_bg-color);

    border-width: 1px;
    border-style: solid;
    border-color: var(--lp_border-color);
    border-radius: 15px;

    padding: 25px;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
  }

  .lp_title {
    font-size: 3rem;
  }

  .lp_actions{
    height: 40px;
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;

    li {
      list-style: none;
      padding: 0.5em;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: var(--lp-h_actions-line-color);
    }
    li:last-child {
      border: none;
    }

    img {
      height: 1em;
    }

    a {
      display: flex;
      flex-direction: row;
      gap: 0.25em;
      text-decoration: none;
      color: var(--p_font-color)
    }
    a:hover {
      text-decoration: underline;
    }
  }
}