@use 'theme';
@use "font/NanumSquareRound";

@forward 'icons/icons';
@forward 'layout/header';
@forward 'layout/icon';
@forward 'layout/sidemenu';

body {
  height: 100%;
  margin: 0;
  background-color: var(--l_bg-color);
  font-family: 'NanumSquareRound';
}