@use './base';

:root[color-theme="dark"]{
  // post
  --lp_bg-color: #{base.$secondary-color};
  --lp_border-color: #{base.$border-color};
  --lp-h_border-color: #{base.$border-color};
  --lp-h_bg-color: transparent;
  --lp-h_title-font-color:#{base.$font-color};
  --lp-h_actions-line-color: #{base.$border-color};

  --p_font-color: #{base.$font-color}; 

  // table
  --pt_border-color: #{base.$border-color};
  --pt-h_bg-color: #{base.$tertiary-color};
  --pt-h_font-color: #{base.$font-color};

  // code
  --pc_bg-color: #{base.$border-color};
  --pc_font-color: #C3DF6A;

  // toc
  --lt_border-color: #{base.$border-color};
  --lt_font-color: #{base.$font-color};
}