@use './base';

:root[color-theme="dark"]{
  --l_bg-color: #{base.$primary-color}; // background color

  --lb_bg-color: #{base.$secondary-color};
  --lb_border-color: #{base.$border-color};
  --lb_hovered-color: #{base.$hovered-color};
  --lb_clicked-color: #{base.$clicked-color};

  --lh_bg-color: #{base.$secondary-color};
  --lh_title-color: #{base.$font-color};

  --lsm_bg-color: #{base.$secondary-color};
  --lsm_border-color: #{base.$border-color};
  --lsm_title-color: #{base.$font-color};
  --lsm_category-color: #8a94a1;
  --lsm_close-btn-color: #{base.$font-color};
  --lsm_item-font-color: #{base.$font-color};
  --lsm_item-hovered-color: #{base.$hovered-color};
  --lsm_item-clicked-color: #{base.$clicked-color};
  --lsm_sub-toggle-color: #{base.$font-color};

  --icon-color: #{base.$font-color};
}