{% capture metadata %}
  {% seo %}
  <link rel="stylesheet" 
    type="text/css" 
    href="/assets/css/post/base.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/post/desktop.css" media="screen and (pointer: fine)">

  <!-- components -->
  {% for component in page.components %}
    {% include component/{{ component }}.html %}
  {% endfor %}
  <!-- end components -->
{% endcapture %}

{% capture content %}
<main class="lp_section">
  <header class="lp_header">
    <h1 class="lp_title">{{ page.title }}</h1>
    <ul class="lp_actions">
      <li>
        <a href="https://github.com/gohu03/blog/edit/main/collections/{{ page.path }}"><img src="/assets/icons/pen.svg" alt="edit">edit</a>
      </li>
      <li>
        <a href="https://github.com/gohu03/blog/delete/main/collections/{{ page.path }}"><img src="/assets/icons/del.svg" alt="delete">delete</a>
      </li>
    </ul>
  </header>
  <article class="lp_content">
    {{ page.content }}
  </article>
</main>

{% include toc.html 
  html=page.content 
  h_max=4 
  class='lt_section' 
  item_class='lt_item' 
  submenu_class='lt_submenu' 
  %}
{% endcapture %}

{% include layout/template.html %}