@media (min-width: 1000px){
  .l_btn {
    background-color: var(--lb_bg-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--lb_border-color);
    border-radius: 10px;

    width: 50px;
    height: 50px;
  }
}
