.lh_container .icon_menu{
  width: 30px;
  height: 36px;
}

#lsm_faca0a10{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1000px){
  #lsm_faca0a10 {
    position: fixed;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
    background-color: var(--lb_bg-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--lb_border-color);
    border-radius: 10px;
  }
  .lh_title {
    display: none;
  }
}

@media screen and (max-width: 1000px){
  .lh_container {
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;

    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    align-items: center;
    gap: 10px;

    background-color: var(--lh_bg-color);
  }
  #lsm_faca0a10 {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
  }
  .lh_title {
    color: var(--lh_title-color);
    font-size: 28px;
    font-weight: 800;
    margin: 0;
  }
}