#lsm_e1f08971 {
  $item-height: 72px;

  display: flex;
  flex-direction: column;

  position: fixed;
  top:0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--lsm_bg-color);

  transition: transform 0.5s;

  .lsm_header {
    padding: 10px 1rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
  .avatar{display: none;}
  .lsm_title{display: none;}

  #lsm_307f2d68 {
    width: 50px;
    height: 50px;
    transition: rotate 0.25s;
    mask-size: 2rem;
  }
  #lsm_307f2d68:hover {
    rotate: 90deg;
  }

  .lsm_items {
    padding-left: 0;
    margin: 0;
    overflow-y: auto;
    overscroll-behavior-y: contain;

  }
  .lsm_item-container {
    list-style: none;
  }

  .lsm_item-wrapper {
    height: $item-height;
    display: flex;
    flex-direction: row;
  }
  .lsm_item {
    flex-grow: 1;
    padding-left: 1rem;
    font-size: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--lsm_item-font-color);
    font-weight: 800;
  }
  .lsm_item:hover {
    background-color: var(--lsm_item-hovered-color);
  }
  a.lsm_item {
    text-decoration: none;
  }
  a.lsm_item:active {
    background-color: var(--lsm_item-clicked-color);
  }
  .lsm_sub-toggle {
    width: $item-height;
    height: 100%;
    color: var(--lsm_sub-toggle-color);
    font-size: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lsm_sub-toggle:hover {
    background-color: var(--lsm_item-hovered-color);
  }
  .lsm_sub-toggle:active {
    background-color: var(--lsm_item-clicked-color);
  }
  .lsm_sub-toggle::after{
    transition: rotate 0.5s;
    content: '▼';
  }
  .lsm_sub-toggle[show] {
    display: flex;
  }
  .lsm_sub-toggle[show]::after{
    rotate: -180deg;
  }
  .lsm_subcategories {
    padding-left: 0;
    margin: 0;
    height: 0;
    overflow-y: hidden;
    border-left: 3px solid var(--lsm_border-color);
    margin-left: 1em;
    transition: height 0.5s;
  }
}
#lsm_e1f08971[hidden]{
  display: block;
  transform: translateX(-100%);
}

@media (min-width: 800px) {
  #lsm_e1f08971{
    width: 300px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: var(--lsm_border-color);

    .lsm_header {
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-bottom-color: var(--lsm_border-color);
  
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 25px;
  
      padding: 25px;
    }
    .avatar {
      display: block;
      border-radius: 50%;
    }
    .lsm_title {  
      display: block;
      color: var(--lsm_title-color);
      font-size: 3rem;
      margin: 0;
    }
  }

  #lsm_307f2d68 {
    display: none;
  }
}