@media (min-width:1280px){
  .lt_section {
    display: flex;
    flex-direction: column;
    width: 190px;

    border-left-width: 5px;
    border-left-style: solid;
    border-left-color: var(--lt_border-color);

    padding-left: 1em;

    position: absolute;
    top: 140px;
    right: 25px;

    a {
      color: var(--lt_font-color);
      text-decoration: none;
    }
    li {
      list-style: none;
      margin-top: 0.5em;
    }
    ul {
      margin-left: 1em;
    }
  }
}